/* Style sheet is used for styles with Relative path sass isnt compliling correctely */


.hero{
    background: linear-gradient(#1d1d1e8c, #02020270, transparent), url("../images/hero-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 0;
}

.hero img{
    height: 70%;
    display: block;
    margin: auto;
    width: 90%;
}



.image-span{
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 700px; */
}


@media only screen and (max-width:767px){
    .hero img{
        height: 50%;
    }
}