*{
    margin: 0;
    padding: 0;
}


svg{
    color: #80682f;
}

section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.hero{
    background: linear-gradient(#1d1d1e8c, #02020270, transparent), url("../images/hero-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 0;
}

.hero img{
    width: 80%;
}

.secondary-header{
    background-color: black;
    margin-bottom: 3rem;
    padding-bottom: 0;
    padding:2rem
}

.secondary-header img{
    margin: auto;
    display: block;
}

.secondary-nav{
    background-color: #ffbd21;
    color: white;
    position: relative;
    top: 4rem;
    width: 70%;
    margin: auto;

}


.site-button{
    background-color: #ffbd21;
    width: 10rem;
}

.site-button:hover{
    background-color: #ffb300;
}

 
.nav-link{
    color: rgb(255 255 255);
}

@media only screen and (max-width: 600px){
    .secondary-nav{
        width: 100%;
        position: initial;
    }

}




.contact-form{
    background-color: #ececec;
    padding: 2.5rem;
    margin-top: 3rem;
}

.nav-link {
    font-size: 1.7rem;
}

.image-span img{
    height: 400px;
    width: 100%;
}

.fade-in-section{
    text-align: center;
}

.two-col img{
    width: 100%;
}


.contact-squares{
    background-color: #d3d3d370;
    padding: 1.4rem;
    height: 100%;
}


.contact-squares ul{
    list-style: none;
}



.social-media-container{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background: #f3f3f3;
    border-bottom: 10px solid #ffbd21;
}





footer{
    background-color: black;
    
    padding: 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
}



footer ul{
    list-style: none;
    
}

footer a{
    text-decoration: none;
    color: white;  
}


