footer{
    background-color: black;
    
    padding: 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
}



footer ul{
    list-style: none;
    
}

footer a{
    text-decoration: none;
    color: white;  
}
