.contact-form{
    background-color: #ececec;
    padding: 2.5rem;
}

.contact-squares textarea{
    width: 100%;
}

.comment-form textarea{
    margin-right: auto;
    display: block;
    width: 100%;
}

#submit{
    background-color: #ffbd21;
    width: 10rem;
    border: none;
    padding: .5rem;
}

#submit:hover{
    background-color: #ffb300;
}

.contact-squares{
    background-color: #d3d3d370;
    padding: 1.4rem;
    height: 100%;
}


.contact-squares ul{
    list-style: none;
}

.contact-container{
    ul{
        padding-left: 0 !important;
    }
}



.contact-box{
    background-color: #ffc006;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    list-style: none;


    

    li{
        font-weight: 300;
        letter-spacing: 3px;
        border-bottom: 1px solid;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        
    }
    li:last-of-type{
        border-bottom: initial;
    }

    span{
        font-weight: bold;
    }
}

@media only screen and (max-width: 767px){
	.contact-box{
        margin-bottom: 1rem;
    }
}
