

.secondary-header{
    background-color: black;
    margin-bottom: 6rem;
    padding-bottom: 0;
    padding:2rem
}

.secondary-header img{
    margin: auto;
    display: block;
}

.secondary-nav{
    background-color: #ffbd21;
    color: white;
    position: relative;
    top: 4rem;
    width: 87%;
    margin: auto;

}

.nav-link {
    font-size: 1.7rem;
}



.not-found-page{
    height: 70vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.not-found-page .display-1{
    font-size: 10rem;
}

.mobile-nav{
    margin-top: 1rem;
    display: none;
}

#top-contact{
    padding:.2rem
}


#mobile-top-contact{
    display: none;
}


@media only screen and (max-width:$medium){


    .secondary-header{
        margin-bottom: 0;
    }

    .mobile-nav{
        display: initial;
    }

    .secondary-nav{
        display: none;
        width: 100%;
        position: initial;
    }


    #top-contact{
        display: none;
    }

    #mobile-top-contact{
        display: inherit;
        margin-bottom: 4rem;

        div:first-of-type{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        
    }

    .navbar-dark .navbar-nav .nav-link{
        letter-spacing: 10px;
    }

    
}


// background: #000000c4;


@media only screen and (max-width:991px){
    .navbar-collapse-home{
        background: #00000061;
        text-align: center;
        letter-spacing: 8px;
        margin-top: 1rem;
    }
}