



.secondary-header{
    background-color: black;
    margin-bottom: 3rem;
    padding-bottom: 0;
    padding:2rem
}

.secondary-header img{
    margin: auto;
    display: block;
}

.secondary-nav{
    background-color: #ffbd21;
    color: white;
    position: relative;
    top: 4rem;
    width: 70%;
    margin: auto;

}

.nav-link {
    font-size: 1.7rem;
}



.not-found-page{
    height: 70vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.not-found-page .display-1{
    font-size: 10rem;
}