$small: 575px;
$medium:767px;

$accent-color:#ffbd21;
$widget-color:#212529;
$widget-text:#ffff;

$section-padding: 6rem;
$section-margin: 2rem;


@mixin header-icon($header:false,$footer:false){
    @if $header {
        color: black;

        &:hover{
            color: #404040;
        }
        @if $footer {
            color: $accent-color;
        }
    }
    
}

@mixin widget-header ($select:false,$calendar:false) {
    background: $widget-color;
    color: $widget-text;
    letter-spacing: 4px;
    h4{
        border-bottom: solid 1px;
        padding-bottom: .5rem;
        font-size: 2vw;
    }

    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 6px;
    @if $select{
        label{
            display: none;
        }
        select{
            background-color: #198753;
            color: #ffff;
            padding: 7px;
            border-radius: 5px;
            width: 100%;
        }
    }

    @if $calendar{
        td{
            font-weight: 200;
        }
    }
   
}