@import './modules/variables', 
'./modules/calendar',
'./modules/headers',
'./modules//footer',
'./modules/blog-cards',
'./modules/forms',
'./modules/events',
'./modules/blog-page',
'./modules/widgets'
;




*{
    margin: 0;
    padding: 0;
}

p{
    font-size: 18px;
}

section{
   
    padding-top: $section-padding;
    padding-bottom: $section-padding;

}

.svg-header{
    @include header-icon($header:true);
    margin-right: .2rem;
}

.svg-footer{
    @include header-icon($footer:true)
}

.icon-box{
    span{
        margin-right: .5rem;
        font-weight: bold;
    }
}










@media only screen and (max-width:$medium) {
    select{
        width: 100%;
    }

    

    #right-contact-square{
        
        padding-right: 12px
    }

    #left-contact-square{
        padding-left: 12px
    }
}



.container-fluid{
    padding-left: 0;
    padding-right: 0;
}




.site-button{
    background-color: $trinary-color;
    width: 10rem;
    color: $text-color;
}

.site-button:hover{
    background-color: $primary-color;
   
}

 
.nav-link{
    color: rgb(255 255 255);
}



.card-excerpt{
    max-height: 100px;
    overflow: hidden;
}


.fade-in-section{
    padding: 1em;
    min-height: 300px;
}





.image-span{
    color: white;
    min-height: 500px;
     img{
    height: auto;
    width: 100%;
     }

}



.fade-in-section{
    text-align: center;
}

.two-col img{
    width: 100%;
}





.social-media-container{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background: #f3f3f3;
    border-bottom: 10px solid $primary-color;
}


.card-img{
    filter: brightness(0.5);
    height: 200px;
}




.post-btn-container{
    display: flex;
    justify-content: space-between;
    max-height: 40px;
}





.card-archive:hover{
    box-shadow: 0px 1px 15px 0px;
}



#loadingDiv{
    width: 100%;
    margin: auto;
    text-align: center;
}


.carousel-item img{
    height: 550px;
    filter:brightness(0.5)
}


.light-grey-section{
    background: #dcdcdc52;
}

.contact-ul{
padding-left: 0;
}

.contact-box{
    background-color: $primary-color;

    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;


    ul{
        list-style: none;
        padding-left: none;
    }

    span{
        font-weight: bold;
    }
}


.display-4{
    font-size: calc(2rem + 2.7vw);
}

.blog-jumbotron{
    h1{
        border-bottom: solid 1px;
    }
}

.readmore-link{
    text-align: center;
    background: $primary-color;
    color: black;
    padding: 3rem;
    font-size: 2rem;
    // border-radius: 100%;

    &:hover{
        background-color: $secondary-color;
    }


}


.comment{
&-body{
    background: #dcdcdc52;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;


}



}

.archive-img{
    width: 100%;
    height: auto;
}

// max-width: 100%;
//     height: auto;

.raul{
    text-decoration: none;
    color: $primary-color;
    font-size: 1.3rem;
    letter-spacing: 5px;

    &:hover{
        color: red;
    }
}





@media only screen and (min-width: $medium){


    .archive-img{
        height: 280px;
    }
}

#mobile-top-contact{
    background-color: $primary-color;
}

@media only screen and (max-width: $medium){
	/*Small smartphones [325px -> 425px]*/

    #mobile-top-contact{
        margin-bottom: 2rem;
    }

    section{
        
        padding-top: 2rem;
        padding-bottom: 2rem;
    
    }


    .carousel-item img{
        height: 430px
    }

    .col-md-6 img{
        margin-bottom: 1rem;
    }

    .carousel-caption{
        h2{
            font-weight: bold;
            border-bottom: solid 2px white;
        }
        p{
            font: .75rem;
        }
    }

    
}

#events-btn{
    width: 11%;
    display: block;
    margin: auto;
}




@media only screen and (max-width: $small){
    #events-btn{
        width: 95%;
    }
    @mixin button-mobile{
        width: 100%;
        padding:10px
    }
    .btn-success{
        @include button-mobile();
    }

    #submit{
        @include button-mobile();
    }

    
}
