@import './modules/variables', 
'./modules/calendar',
'./modules/utilities',
'./modules/headers',
'./modules//footer',
'./modules/blog-cards',
'./modules/forms'
;



$section-padding: 6rem;
$section-margin: 2rem;




*{
    margin: 0;
    padding: 0;
}

p{
    font-size: 18px;
}

section{
   
    padding-top: $section-padding;
    padding-bottom: $section-padding;

}

.svg-header{
    @include header-icon($header:true);
    margin-right: .2rem;
}

.svg-footer{
    @include header-icon($footer:true)
}

.icon-box{
    span{
        margin-right: .5rem;
        font-weight: bold;
    }
}




.header-contact{
    span{
        font-weight: bold;
    }
    margin-right: 1rem;
}




.widget_archive{
    list-style: none;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    


    @include widget-header($select:true);
}



.blog-header{
    background: #dcdcdc78;
    margin-bottom: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

}


.widget_categories{
    list-style: none;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;

    @include widget-header($select:true);
}



.latest-post img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.latest-post-text-box{
    z-index: 3;
    float: left;
    position: relative;
    bottom: 20rem;
    padding: 1rem;

    h2{
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 5px;
    }

    p{
        color: #ffffffbf;
        font-weight: 300;
    }
}

#left-contact-square{
    padding-left: 0;
}

#right-contact-square{
    padding-right: 0;
}


@media only screen and (max-width:767px) {
    select{
        width: 100%;
    }

    .widget{
        display: none;
    }

    #right-contact-square{
        
        padding-right: 12px
    }

    #left-contact-square{
        padding-left: 12px
    }
}

.date-box{
    background-color: #ffbd21;
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    bottom: 4rem;
    color: black;
    text-align: center;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}




.site-button{
    background-color: $accent-color;
    width: 10rem;
}

.site-button:hover{
    background-color: #ffb300;
}

 
.nav-link{
    color: rgb(255 255 255);
}



.card-excerpt{
    max-height: 100px;
    overflow: hidden;
}


.fade-in-section{
    padding: 1em;
    min-height: 300px;
}





.image-span{
    color: white;
    min-height: 500px;
     img{
    height: auto;
    width: 100%;
     }

}



.fade-in-section{
    text-align: center;
}

.two-col img{
    width: 100%;
}





.social-media-container{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background: #f3f3f3;
    border-bottom: 10px solid #ffbd21;
}


.card-img{
    filter: brightness(0.5);
    height: 200px;
}


.previous-button{
    margin-left: 1rem;
}

.next-button{
    margin-right: 1rem;
}


.post-btn-container{
    display: flex;
    justify-content: space-between;
    max-height: 40px;
}



.tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn{
    background-color: #ffb300;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container{
    padding-top: 60px;
    padding-bottom: 60px;
}





#wp-calendar{
    width: 100%;
}

.card-archive:hover{
    box-shadow: 0px 1px 15px 0px;
}



#loadingDiv{
    width: 100%;
    margin: auto;
    text-align: center;
}


.carousel-item img{
    height: 550px;
    filter:brightness(0.7)
}


.light-grey-section{
    background: #dcdcdc52;
}

.contact-ul{
padding-left: 0;
}

.contact-box{
    background-color: #ffc006;

    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;


    ul{
        list-style: none;
        padding-left: none;
    }

    span{
        font-weight: bold;
    }
}


.display-4{
    font-size: calc(2rem + 2.7vw);
}

.blog-jumbotron{
    h1{
        border-bottom: solid 1px;
    }
}

.readmore-link{
    text-align: center;
    background: #fec002;
    color: black;
    padding: 3rem;
    font-size: 2rem;
    // border-radius: 100%;

    &:hover{
        background-color: #ce9c04;
    }


}


.comment{
&-body{
    background: #dcdcdc52;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    // &:nth-child(even){
    //     background: #71717152;
    // }
}




}

.archive-img{
    width: 100%;
    height: auto;
}

// max-width: 100%;
//     height: auto;


@media only screen and (min-width: $medium){
    .archive-img{
        height: 280px;
    }
}

@media only screen and (max-width: $medium){
	/*Small smartphones [325px -> 425px]*/
    .carousel-item img{
        height: 480px;
    }
}


@media only screen and (max-width: $small){
    @mixin button-mobile{
        width: 100%;
        padding:10px
    }
    .btn-success{
        @include button-mobile();
    }

    #submit{
        @include button-mobile();
    }
}
